body {
    margin: 0;
    font-family: 'MontSerrat', sans-serif;
    font-weight: 200;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 10;
}

.logo img {
    max-height: 70px;
    border-radius: 50px;
    margin-left: 25px;
}

.navigation-options {
    display: flex;
    align-items: center;
    margin-right: 450px;
    cursor: pointer;
}

.navigation-options ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation-options li {
    margin-right: 40%;
}

.navigation-options a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Set the height to 100% of the viewport height */
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the entire container */
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    color: white;
}

.overlay-text h1 {
    position: absolute;
    color: white;
    top: 40%;
    left: 30%;
    font-size: 40px;
    font-weight: 1500;
    z-index: 30;
}

.content {
    width: 100%;
}

.small-text {
    font-size: 15px;
}

.homePartThree {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
}

.homePartThreeComponent {
    display: flex;
    flex: 1;
    flex-basis: 0;
    max-width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}

.homePartThreeComponent p {
    width: 60%;
    text-align: center;
    color: darkgray;
}

.homePartThreeComponent img {
    height: 30%;
    width: 30%;
}

.homePartFour {
    display: flex;
    background-color: #f9f9f7;
}

.left-section-four {
    flex: 1;
}

.right-section-four {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8%;
}

.home-part-four-hr {
    color: black;
}

.left-section img {
    width: 100%;
    height: auto;
}

.homePartThreeComponent p {
    width: 80%;
    text-align: center;
}

.home-part-five {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-part-five hr {
    width: 100px;
    height: 2px;
    margin-bottom: 25px;
    background-color: #080808;
}

.home-part-five h1 {
    margin-bottom: 0;
}

.home-part-five-images-box {
    display: flex;
    padding: 8%;
}

.image-box-five {
    height: 1200px;
    width: 900px;
    margin-bottom: 5%;
}

.home-part-five-images-left-box {
    display: flex;
    flex-direction: column;
}

.home-part-five-images-right-box {
    display: flex;
    flex-direction: column;
}

.home-part-five-images-right-box-top {
    display: flex;
    height: 10%;
}

.home-part-five-images-right-box-middle {
    display: flex;
}

.home-part-five-images-right-box-bottom {
    display: flex;
    height: 10%;
}

.designer-logo {
    position: absolute;
    top: 30%;
    left: 40%;
}

.footer {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 400px;
    max-height: 100%;
}

.left-box-footer {
    display: flex;
    flex: 1;
    color: white;
    justify-content: center;
    align-items: center;
}

.middle-box-footer {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
}

.right-box-footer {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: flex-start;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.entry-content {
    font-family: IBM Plex Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: none;
    color: #444;
    margin-top: 5%;
}

.entry-title {
    font-family: IBM Plex Sans;
    display: var(--page-title-display);
    margin-top: 80%;
}

.termsConditions,
.privacyPolicy,
.refundReturn,
.shippingPolicy {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

img {
    max-width: 100%;
    height: auto;
}

.sec__one {
    position: relative;
    width: 100%;
    display: flex;
    padding: 60px 0;
}

.sec__one h1 {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #07a8ff;
    font-family: 'Inter', sans-serif;
}

.navBar .logo img {
    float: left;
    max-height: 120px;
}

.is-active {
    color: #ff5800!important;
}

.navBar .col-md-3 {
    z-index: 7;
}

ul.main-menu {
    display: inline-flex;
    list-style: none;
    margin: 0px auto 0;
    padding: 0;
    float: right;
    z-index: 7;
}

ul.main-menu>li.menu-item:first-child {
    padding-left: 0;
    margin-left: 0;
}

.menu-item {
    line-height: 23px;
}

li {
    list-style-type: none;
}

.menu-item a {
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    display: block;
    color: #545050;
    margin: 27px 17px;
    text-decoration: none;
    cursor: pointer;
}

.header__middle__logo {
    width: 20%;
    display: inline-block;
}

.header__middle__menus {
    width: 70%;
    display: inline-block;
}

.menu-item.menu__qqqitem a {
    margin: 27px 10px;
}

.header__middle__search {
    width: 7%;
    display: inline-block;
    padding: 36px 3px 27px 3px;
    border-left: 1px solid lavender;
}

.header__middle__logo>a>h1 {
    color: #07a8ff;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 33px;
}

.header__middle__menus span.text {
    position: absolute;
    right: 177px;
    bottom: 10px;
    font-size: 14px;
    color: #ff1800;
}

.sub__menus__arrows {
    position: relative;
}

.sub__menus__arrows svg,
.sub__menus__arrows__full svg {
    padding-top: 0px;
    position: absolute;
    top: 13px;
}

.sub__menus {
    position: absolute;
    display: none;
    background: white;
    border: 1px solid lavender;
    width: 227px;
    left: -17px;
    padding: 2px 0 0 0;
    z-index: 1000;
    box-shadow: 0 10px 12px rgb(22 33 39 / 25%);
}

@media (max-width:767px) {
    .header__middle .active {
        color: #ff3d00!important;
    }
}

@media (min-width:992px) {
    .sub__menus__arrows:hover .sub__menus {
        display: block;
    }
    .sub__menus__arrows__full:hover .sub__menus {
        display: block;
        z-index: 1000000;
    }
}

.menu-item .sub__menus a {
    padding: 7px 0 0px 0;
    margin: 7px 12px;
}

.menu-item:hover>a {
    color: #07a8ff !important;
}

.menu-item .sub__menus li:hover a {
    color: #07a8ff !important;
}

.header__middle__logo img {
    max-width: 207px;
    margin: 17px 0 0 0;
}

@media(max-width:991px) {
    .header__middle__logo {
        width: 77%;
    }
    .header__middle__menus {
        width: 20%;
    }
    .header__middle__logo img {
        max-width: 197px;
        margin: 27px 0 0 0;
    }
    .main-nav .menubar__button:hover {
        background-color: #f44336;
    }
    .main-nav .menu-item:hover>a {
        color: #07a8ff !important
    }
    .main-nav .menubar__button {
        display: block!important;
        float: right;
        background-color: #080808;
        color: #fff;
        padding: 6px 7px;
        border-radius: 5px;
        margin: 27px auto 0;
        cursor: pointer;
        position: relative;
        z-index: 10037;
    }
    .main-nav .menubar__button svg {
        font-size: 27px;
    }
    .main-nav ul.menuq2 {
        display: block!important;
        position: absolute;
        left: 0;
        z-index: 10007;
        background-color: #d8f1ff;
        border-bottom: 3px solid #ff3d00;
        right: 0;
        padding-bottom: 17px;
        padding-top: 57px;
    }
    .main-nav .menu-item a {
        margin: 10px 17px;
        text-align: center;
        color: #000000;
    }
    .main-nav ul.main-menu {
        display: none
    }
    .main-nav .sub__menus__arrows:hover .sub__menus {
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .sub__menus__Active {
        display: block!important;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .sub__menus__Active2 {
        display: block!important;
    }
    .menus__categorysss {
        display: none;
    }
    .menus__categorysss2 {
        display: none;
    }
    .menu-item .sub__menus__full a {
        text-align: left;
    }
}


/* Registration Page */

.registration-box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;
}

.registration-box p {
    width: 60%;
    text-align: center;
    color: darkgray;
}

.registration-box img {
    height: 70%;
    width: 70%;
}

.elementor-widget-wrap-reg-content {
    text-align: center;
}

.image-container-1 {
    /* padding-top: 60px; */
    /* padding-bottom: 60px; */
    /* padding-bottom: 5%; */
    margin-top: 80px;
    position: relative;
    height: 450px;
    overflow: hidden;
}

.background-image-1 {
    position: absolute;
    /* width: 100%; */
    /* height: 100% */
    /* padding: 10%; */
    /* padding-left: 30px; */
    width: 80%;
    padding: 0 10%;
    margin: 0;
}

.background-image-2 {
    position: absolute;
    width: 30%;
    padding: 0 10%;
}

.content {
    padding-top: 50px;
}

.image-container-2 {
    position: relative;
    text-align: center;
}

.elementor-widget-wrap-1 {
    position: absolute;
    top: 8px;
    left: 16px;
    padding-right: 60%;
}

.register {
    padding-top: 150px;
}

.button-main {
    padding-top: 15px;
    color: #000;
}

.button {
    padding: 13px 68px 15px;
    font-size: 16px;
    line-height: 1.563em;
    background-color: transparent;
    border: 1px solid #000;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: 0;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: .025em;
    border-radius: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    -o-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    padding: 11px 50px 12px;
    font-size: 14px;
    line-height: 1.5em;
}

.button:hover {
    cursor: pointer
}